@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

:root {
    --light: #e2e8f0;
    --dark: rgb(46, 46, 46);
    --dark-lighter: rgb(100, 100, 100);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    background-color: var(--dark);
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#header > img {
    margin-left: 10px;
    width: 70px;
    object-fit: contain;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

#game-container {
    display: flex;
    flex-direction: column;
}

/* GAME TOP */

#game-top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#game-top-container > * {
    border-radius: 15px;
    padding: 8px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: var(--dark-lighter);
    font-weight: bold;
    font-size: 1.5rem;
}

/* DASHBOARD */
#dashboard-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#dashboard-grid {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

#dashboard-grid > * {
    background-color: var(--dark-lighter);
    border-radius: 10px;
}

/* SCOREBOARD GRID */
#scoreboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 800px;
}

#player-x-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#ties-container {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#player-o-container {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#player-x-conntainer > *, #ties-container > *, #player-o-container > * {
    text-align: center;
    line-height: 1.4rem;
}

#scoreboard-grid > * {
    border-radius: 10px;
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

#scoreboard-grid h2 {
    font-size: 1rem;
    font-weight: normal;
}

#scoreboard-grid h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

#player-x-conntainer {
    background-color:rgb(214, 98, 98);
}

#ties-container {
    background-color:rgb(97, 184, 94)
}

#player-o-container {
    background-color: rgb(109, 109, 219);
}


#footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
    color: rgb(182, 182, 182);
}
