@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

:root {
    --light: #e2e8f0;
    --dark: rgb(46, 46, 46);
    --dark-lighter: rgb(100, 100, 100);

    --player-x: rgb(214, 98, 98);
    --player-o: rgb(109, 109, 219);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    background-color: var(--dark);
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.3rem 2rem;
    display: flex;
    flex-direction: row;
}

#header > h1 {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: -3px;
}

.red-x {
    color: var(--player-x);
}

.red-o {
    color: var(--player-o);
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(800px, 100%);
}

/* GAME TOP */

#game-top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

#whose-game-turn {
    border-radius: 15px;
    padding: 8px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 10px; */
    background-color: var(--dark-lighter);
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
}

/* DASHBOARD */

#dashboard-grid {
    width: min(450px, 100%);
    height: min(450px, 100vw);
    /* height: min(400px, 100%); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

/* #dashboard-grid > * {
    background-color: var(--dark-lighter);
    border-radius: 10px;
} */

[data-dashboard] {
    background-color: var(--dark-lighter);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
}

[data-dashboard]:hover {
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

/* RESTART BUTTON */
#restart {
    width: max-content;
    /* padding: 10px 20px; */
    padding: 5px;
    border-radius: 100%;
    border: 3px solid rgb(255, 255, 255);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    cursor: pointer;
}

#restart:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

#restart:active {
    transform: scale(0.95);
}

#restart > svg {
    fill: white;
    width: 40px;
    height: 40px;
}

/* SCOREBOARD GRID */
#scoreboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: min(800px, 100%);
    margin-bottom: 20px;
}

#player-x-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#ties-container {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#player-o-container {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#player-x-conntainer > *, #ties-container > *, #player-o-container > * {
    text-align: center;
    line-height: 1.4rem;
}

#scoreboard-grid > * {
    border-radius: 10px;
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    
}

#scoreboard-grid h2 {
    font-size: 1rem;
    font-weight: normal;
}

#scoreboard-grid h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

#player-x-conntainer {
    background-color: var(--player-x);
}

#ties-container {
    background-color: var(--dark-lighter);
}

#player-o-container {
    background-color: var(--player-o);
}


/* GAME OVER WINDOW */
#gameOverWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    flex-direction: column;
    border-radius: 15px;
    background-color: var(--light);
    padding: 10px;
    width: min(500px, 100%);
    height: 300px;
    /* min-width: 280px; */
    /* backdrop-filter: blur(10px); */
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}



#footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
    color: rgb(182, 182, 182);
}

@media only screen and (max-width: 450px) { 
    #dashboard-grid {
        gap: 8px;
    }
}